<!DOCTYPE html>
@{
  Layout="Shared/_Layout.cshtml";
}

  <div class="container">
    <h1>Restaurant Directory</h1>
    <h2>Modify Cuisine</h2><br>

      <form action="/modify/cuisine/@Model.GetId()" method="post">
        <input type="hidden" name="_method" value="PATCH">
        <input class="form-control" type="text" required name="cuisine_name" placeholder="@Model.GetName()">
        <button class="btn btn-info" type="submit">Modify Cuisine</button>
      </form>
    <h5><a href="/">Home</a></h5>
  </div>
